body {
  background-color: #f2f2f2;
  font-family: "Helvetica Light", Helvetica, Arial, sans-serif;
  color: #383838;
  margin: 0;
}
header {
  padding: 2rem 1rem;
}
footer {
  background-color: #383838;
  width: 100%;
  padding: 5rem 0;
  color: white;
}
.copyright,
.tools {
  margin: 1rem auto;
  text-align: center;
}
.loaders {
  text-align: center;
  margin: 2rem;
}
.loading {
  text-align: center;
  margin: 2rem 8rem 8rem 8rem;
  width: 10rem;
  display: inline-block;
}
.dots .dot {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 1rem .5rem;
  background-color: #383838;
  border-radius: 1rem;
  animation: bounce 1s infinite;
}
.dots .dot:nth-of-type(2) {
  animation-delay: 0.15s;
}
.dots .dot:nth-of-type(3) {
  animation-delay: 0.3s;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-3rem);
  }
  40%,
  100% {
    transform: translateY(0);
  }
}
.circles .circle {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  border: .2rem solid #383838;
  display: inline-block;
  position: relative;
  opacity: .5;
  left: 1.8rem;
  top: 3.6rem;
  animation: swing 1.5s infinite;
}
.circles .circle:nth-of-type(2) {
  animation-delay: 0.15s;
  left: -1.8rem;
}
.circles .circle:nth-of-type(3) {
  animation-delay: 0.3s;
  left: 1.8rem;
  top: 0rem;
}
.circles .circle:nth-of-type(4) {
  animation-delay: 0.45s;
  left: -1.8rem;
  top: 0rem;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  60%,
  100% {
    transform: rotate(360deg);
    transform-origin: bottom;
  }
}
.wave .point {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #383838;
  margin: 1.5rem 0;
  animation: wave-1 2s infinite;
}
.wave .point:nth-of-type(2) {
  animation: wave-2 2s infinite;
  animation-delay: 0.15s;
}
.wave .point:nth-of-type(3) {
  animation: wave-3 2s infinite;
  animation-delay: 0.3s;
}
.wave .point:nth-of-type(4) {
  animation: wave-4 2s infinite;
  animation-delay: 0.45s;
}
.wave .point:nth-of-type(5) {
  animation: wave-5 2s infinite;
  animation-delay: 0.6s;
}
@keyframes wave-1 {
  0% {
    transform: translate(0rem, 0rem);
  }
  20% {
    transform: translate(5rem, -4rem);
  }
  40%,
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes wave-2 {
  0% {
    transform: translate(0rem, 0rem);
  }
  20% {
    transform: translate(2.5rem, -4rem);
  }
  40%,
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes wave-3 {
  0% {
    transform: translate(0rem, 0rem);
  }
  20% {
    transform: translate(0rem, -4rem);
  }
  40%,
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes wave-4 {
  0% {
    transform: translate(0rem, 0rem);
  }
  20% {
    transform: translate(-2.5rem, -4rem);
  }
  40%,
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes wave-5 {
  0% {
    transform: translate(0rem, 0rem);
  }
  20% {
    transform: translate(-5rem, -4rem);
  }
  40%,
  100% {
    transform: translate(0rem, 0rem);
  }
}
.molecule .atom {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #383838;
  margin: 1.5rem 0;
  animation: atomic-1 2s infinite alternate;
}
.molecule .atom:nth-of-type(2) {
  animation: atomic-2 2s infinite alternate;
  animation-delay: 0.15s;
}
.molecule .atom:nth-of-type(3) {
  animation: atomic-3 2s infinite alternate;
  animation-delay: 0.3s;
}
.molecule .atom:nth-of-type(4) {
  animation: atomic-4 2s infinite alternate;
  animation-delay: 0.45s;
}
.molecule .atom:nth-of-type(5) {
  animation: atomic-5 2s infinite alternate;
  animation-delay: 0.6s;
}
@keyframes atomic-1 {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(5rem, -4rem);
  }
}
@keyframes atomic-2 {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(2.5rem, -4rem);
  }
}
@keyframes atomic-3 {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(0rem, -4rem);
  }
}
@keyframes atomic-4 {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(-2.5rem, -4rem);
  }
}
@keyframes atomic-5 {
  0% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(-5rem, -4rem);
  }
}
.classic .glow-wrapper {
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 50%;
  margin: auto;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.classic .glow {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  display: block;
  background-color: #383838;
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 1;
  animation: glow 1.5s infinite;
  transform: translate(2rem);
}
.classic .glow:nth-of-type(2) {
  animation-delay: 0.15s;
  transform: rotate(36deg) translate(2rem) rotate(-36deg);
}
.classic .glow:nth-of-type(3) {
  animation-delay: 0.3s;
  transform: rotate(72deg) translate(2rem) rotate(-72deg);
}
.classic .glow:nth-of-type(4) {
  animation-delay: 0.45s;
  transform: rotate(108deg) translate(2rem) rotate(-108deg);
}
.classic .glow:nth-of-type(5) {
  animation-delay: 0.6s;
  transform: rotate(144deg) translate(2rem) rotate(-144deg);
}
.classic .glow:nth-of-type(6) {
  animation-delay: 0.75s;
  transform: translate(-2rem);
}
.classic .glow:nth-of-type(7) {
  animation-delay: 0.9s;
  transform: rotate(216deg) translate(2rem) rotate(-216deg);
}
.classic .glow:nth-of-type(8) {
  animation-delay: 1.05s;
  transform: rotate(252deg) translate(2rem) rotate(-252deg);
}
.classic .glow:nth-of-type(9) {
  animation-delay: 1.2s;
  transform: rotate(288deg) translate(2rem) rotate(-288deg);
}
.classic .glow:nth-of-type(10) {
  animation-delay: 1.35s;
  transform: rotate(324deg) translate(2rem) rotate(-324deg);
}
@keyframes glow {
  0% {
    opacity: 1;
    width: 1rem;
    height: 1rem;
    margin: 0;
  }
  20% {
    opacity: .2;
    width: .5rem;
    height: .51rem;
    margin: .25rem;
  }
  40%,
  100% {
    opacity: 1;
    width: 1rem;
    height: 1rem;
    margin: 0rem;
  }
}
.row {
  width: 100%;
  text-align: center;
}
.social {
  margin: 2rem;
  position: relative;
  top: -6.5rem;
}
.github,
.stack,
.linkedin,
.vine {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  background-size: cover;
  text-decoration: none;
}
.github {
  background-image: url('../images/github.svg');
}
.stack {
  background-image: url('../images/stack.svg');
}
.linkedin {
  background-image: url('../images/linkedin.svg');
}
.vine {
  background-image: url('../images/vine.svg');
}
.profile-container {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  margin: 2rem 4rem;
  border-radius: 6rem;
  background-color: white;
  padding: 1rem;
  box-shadow: black 0rem 0rem 2rem;
}
.profile {
  height: 10rem;
  width: 10rem;
  margin: auto;
  border-radius: 5rem;
  background-image: url('../images/big_bird.jpg');
  background-size: cover;
  background-position-y: -1rem;
  box-shadow: black 0rem 0rem .5rem;
}
.name {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 2rem;
}
.under-construction {
  margin: auto auto 2rem auto;
  max-width: 50%;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}
